@use 'src/styles/vars';

.form_contact {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 3rem auto;
  padding: 2rem 3rem;
  border-radius: 15px;
  border: 3px solid vars.$color-tertiary;


  .button_contact {
    background-color: vars.$color-tertiary !important;
    border-radius: 50px !important;
    border: 3px solid vars.$color-tertiary !important;
    transition-duration: 500ms;
    padding: 0.5rem 1.5rem !important;
  }
}
