@use 'src/styles/vars';

.legals {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  border: 3px solid vars.$color-tertiary;
  border-radius: 15px;
  background-color: vars.$color-primary;

  &-title {
    margin: 1.5rem;
  }

  &-list-item {
    padding: 0.5rem 2rem;
  }
}

.item {
  font-weight: bold;
}
