@use 'src/styles/vars';

.main-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem auto;
}

.tag {
  color: #ffffff;
  font-size: 0.8rem !important;
  padding: 0.5rem 1rem !important;
  margin: 0.2rem;
}

.profile_photo {
  height: 50px;
  width: 50px;
}

.card_trips {
  height: 400px;
  width: 300px;
  margin: 1rem auto !important;
  box-shadow: 2px 2px 4px -1px vars.$color-tertiary;
  text-align: center;

  &-img-top {
    height: 200px;
    padding: 1rem !important;

  }

  &-body {
    height: 200px !important;
    padding-top: 0 !important;
  }

  &-title {
    height: 25px;
    font-family: vars.$font-title !important;
    font-weight: bold;

  }

  &-text {
    height: 80px;
    overflow: hidden;
    text-align: left;
  }

  &-footer {
    padding: 0.2rem !important;
    height: 75px;
  } 
}

@media screen and (min-width: 1200px) {
  .card_trips {
    width: 275px;
  }
}
