.main-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem auto;
}

.tag {
  color: #ffffff;
  font-size: 0.8rem !important;
  padding: 0.5rem 1rem !important;
  margin: 0.2rem;
}

.profile_photo {
  height: 50px;
  width: 50px;
}

.card-footer {
  padding: 0.2rem !important;
}
