@use 'src/styles/vars';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 5vh;
  background-color: vars.$color-tertiary;
  
  a {
    color:vars.$color-primary !important;
  }

}

.flex-row {
  display: flex;
}

html{
  scroll-behavior: smooth;
}

.back-to-top{
  display: none;
}

@media screen and (min-width: 1024px) {

  .back-to-top {
    height: 2em;
    width: 2em;
    position: fixed;
    bottom: 1em;
    right: 3em;
    background: linear-gradient(#EE82EE, #1E90FF);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    a{
      color: vars.$color-tertiary;
    }
  }

}
