.background-image-lost404 {
  background-image: url('https://images.pexels.com/photos/1199967/pexels-photo-1199967.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 86vh;

  display: flex;
  align-items: center;
  flex: start;
}
