@use 'src/styles/vars';

.navbar_header {
  background-color: vars.$color-tertiary;
  height: 12vh;
  min-height: 5vh;

  a {
    color:vars.$color-primary !important;
    &.nav-link {
      margin-left: 1rem;
    }
    &:hover {
      color:vars.$color-secondary !important;
    }
  }

  .input-group {
    margin: 0 1rem 0;

    .btn {
      background-color: vars.$color-secondary !important;
      border: none !important;
      color: vars.$color-tertiary;
    }
  }

  .dropdown {

    .btn {
      background-color: vars.$color-secondary !important;
      border: none !important;
      color: vars.$color-tertiary;
    }

    &-menu {
      background-color: vars.$color-secondary !important;
      padding: 1rem;

      a {
        color: vars.$color-tertiary !important;
        transition-duration: 500ms;
        &.nav-link {
          margin-left: 0rem;
        }

        &:hover {
          color: vars.$color-primary !important;
          background-color: vars.$color-tertiary !important;
        }
      }
    }

    &-divider {
      border-top: 1px solid vars.$color-tertiary !important;
    }
  }
}

#responsive-navbar-nav {
  background-color: vars.$color-tertiary;
  padding: 1rem;
  margin: -1rem -1rem 0 !important;
}

.profile_photo {
  height: 50px;
  width: 50px;
  border: 1px solid #000;
}

.logo {
  font-size: 40px;
  padding-bottom: 1.1rem;
  background: -webkit-linear-gradient(#EE82EE, #1E90FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: vars.$font-title !important;
  margin-left: 0px;
}


@media screen and (min-width: 1024px) {
  .profile {
    display: flex;
    align-items: center;
  }

  #inscription {
    margin-right: 1rem;
    border: 1px solid vars.$color-secondary;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    background-color: vars.$color-secondary;
    color: vars.$color-tertiary !important;
    display: inline;
  }

  .navbar_header {
    height: 8vh;
  }

  #responsive-navbar-nav {
    padding: 0;
    margin: 0 !important;
    height: 100%;
    text-align: center;
  }
  
  .dropdown-menu {
    margin-top: 0.5rem !important;
    border: 2px solid vars.$color-tertiary;
  }

  input#search:focus, input#search:active {
    width: 350px;
  }
}

// ============== SEARCH BAR EXPANDING ====================

input#search {
  width: 100px;
}

// input#search:focus, input#search:active {
//   width: 250px;
// }
// button#searchBtn:hover input#search{
//   width: 300px;
// }


