@use 'src/styles/vars';

.card_trip {
  text-align: center;
  height: 400px;
  width: 300px;
  margin: 1rem auto !important;
  box-shadow: 2px 2px 4px -1px vars.$color-tertiary;
  font-family: vars.$font-title;


  &-img-top {
    height: 200px;
    padding: 1rem !important;
  }

  &-body {
    height: 200px;
  }

  &-title {
    height: 25px;
    font-weight: bold;
  }

  &-text {
    height: 80px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .card_trip {
    width: 275px;
  }
}
