.home_banner {
  width: 100%;

  &-title {
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
  }

  &-card {
    background-color: rgba(0, 0, 0, 0.3);
    width: 60%;
    border: none;
    padding: 2rem;
    text-align: center;
    font-size: 1.1rem;
    
    &-btn {
      min-width: 35%;
      max-width: 50%;
      align-self: center;

    }
  }
   
  &-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

}
