.home_container {
  max-width: 100vw;
}

.home_banner {
  width: 100%;

  &-title {
    font-style: italic;
    font-size: 1.5rem;
  }

  &-card {
    background-color: rgba(0, 0, 0, 0.3);
    width: 60%;
    border: none;
    padding: 2rem;
    text-align: center;
    font-size: 1.1rem;
    
    &-btn {
      width: 35%;
      align-self: center;
    }
  }
   
  &-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

}
