@use 'src/styles/vars';

.steps_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto !important;
}

.card-step{
  margin: 1rem;

  &-container {
    display: flex;
    justify-content: space-around;
    align-items: center !important;
  }

  &-image {
    height: 100%;
    width: 100%;
  }

  &-title {
    font-weight: bold;
    padding-bottom: 0.5rem;
  }

  &-date {
    font-style: italic;
    padding-bottom: 0.5rem;
  }
}

.nav-container{
  display: none;
}

.step_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.edit-step-button, 
.delete-step-button {
    min-width: 50%;
    max-width: 75%;
    margin: 1rem;
    background-color: vars.$color-tertiary;
    border-radius: 50px;
    border: 3px solid vars.$color-tertiary;
    color: vars.$color-primary;
    transition-duration: 500ms;
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem !important;

    &:hover {
        background-color: vars.$color-secondary;
        color: vars.$color-tertiary;
        border: 3px solid vars.$color-tertiary;
    }
}

.icon-flag {
display: none;
font-size: 3em;
margin-left: 0.25em;
}

.step-numbers {
  display: none;
}


@media screen and (min-width: 1024px) {
  .step_buttons {
      display: flex;
      flex-direction: row;
  }
  
  .edit-step-button, 
  .delete-step-button {
      min-width: 15%;
      max-width: 35%;
  }

  .step-numbers::before {
    position: absolute;
    top: 50%;
    right: -30px;
    left: -20px;
    height: 2px;
    content: '';
    z-index: -1;
    background-color: vars.$color-tertiary;
  }
  
  .step-numbers {
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    width: 50px;
    box-shadow: 0 5px 25px rgba(93, 70, 232, 0.15);
    margin: 0 15px;
    text-decoration: none;
    font-size: 22px;
    color: vars.$color-secondary;
    background-color: vars.$color-tertiary;
    position: relative;
    z-index: 10;
  }
  
  .step-numbers:first-of-type:before {
    left: 0;
  }

  .icon-flag {
  display: block;
  font-size: 3em;
  margin-left: 0.25em;
  }

  .nav-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
  }
}
