@use 'src/styles/vars';

.card-step{
  margin: 1rem;

  &-container {
    display: flex;
    justify-content: space-around;
    align-items: center !important;
  }

  &-image {
    height: 100%;
    width: 100%;
  }
}


.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}

.step-numbers::before {
  position: absolute;
  top: 50%;
  right: -30px;
  left: -20px;
  height: 2px;
  content: '';
  z-index: -1;
  background-color: vars.$color-tertiary;
}

.step-numbers {
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
  box-shadow: 0 5px 25px rgba(93, 70, 232, 0.15);
  margin: 0 15px;
  text-decoration: none;
  font-size: 22px;
  color: vars.$color-secondary;
  background-color: vars.$color-tertiary;
  position: relative;
  z-index: 10;
  &:hover {
    background-color: vars.$color-primary;
  }
}

.step-numbers:first-of-type:before {
  left: 0;
}

.icon-flag {
  font-size: 3em;
  margin-left: 0.25em;
}

