@use 'src/styles/vars';

.cover-container {
  margin-bottom: 9rem;
}

.author-profile {
  position: relative;
  top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &-img {
    width: 150px;
    height: 150px;
  }

  .stats-icons {
    color: vars.$color-tertiary;
  }
}

@media screen and (min-width: 1024px) {
  .cover-container {
    margin-bottom: 7rem;
  }

  .author-profile {
    top: 25vh;
  }
  
}
