.cover-container {
  margin-bottom: 7rem;
}

.author-profile{
  position: relative;
  top: 24vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1{
    margin-bottom: -0.2rem;
  }
}
