@use 'src/styles/vars';

.infos-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}

.stats-container {
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  padding: 0;
  border-radius: 5px;
  background-color: vars.$color-primary;
  color: vars.$color-tertiary;
  border: 5px solid vars.$color-tertiary;

  .stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-style: normal;

    &-row {
      padding-bottom: 1rem;

      .stats-icons {
        color: vars.$color-tertiary;
      }
    }
  }
  
}

.resume-container {
  font-size: 1.2rem;
  margin: 1rem auto;
  padding: 0;
  border-radius: 5px;
  background-color: vars.$color-tertiary;
  background-color: vars.$color-primary;
  color: vars.$color-tertiary;
  border: 5px solid vars.$color-tertiary;

  p {
    font-style: italic;
    padding: 0 1rem;
  }
}

.infos-col-title {
  margin: 0 auto 0.5rem !important;
  background-color: vars.$color-tertiary;
  display: inline-block;
  color: vars.$color-primary;
  width: 100%;
  padding: 0.5rem 0;
}

.map-container {
  padding-bottom: 1rem;
}

.map{
  border: .3rem solid vars.$color-tertiary;
}
@media screen and (min-width: 768px) {
  .infos-container {
    flex-direction: row;
  }

  .stats-container {
    margin: 1rem 0.5rem 1rem 0;
  }
  
  .resume-container {
    margin: 1rem 0 1rem 0.5rem;
  }
}

