.background-image-register {
  background-image: url('https://img.wallpapersafari.com/desktop/1440/900/62/71/r5CGaq.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 86vh;
}
