@use 'src/styles/vars';

.members {
  padding-top: 20px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &-card {
    border: 1px solid vars.$color-tertiary;
    text-align: center;

    &-name {
      font-size: 2rem;
      font-weight: bold;
    }

    &-title {
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .members {
    &-card {
      border: 1px solid vars.$color-tertiary;
      margin: 1rem;
      text-align: center;
      min-width: 15%;
      max-width: 200px;

      &-name {
        font-size: 2rem;
        font-weight: bold;
      }

      &-title {
        font-size: 1.2rem;
      }
    }
  }
}
