.leaflet-container{
  height: 30vh;
  margin-bottom: 2rem;
}

.infos-container{
  margin: 1rem 0 1rem 0;
}

.stats-container{
  border: 1px black solid;
}

.resume-container{
  border: 1px black solid;
}
