@use 'src/styles/vars';


.leaflet-container{
  height: 40vh;
  margin-bottom: 2rem;
  border: .3rem solid vars.$color-tertiary;
}

// .infos-container{
//   margin: 1rem 0 1rem 0;
// }

// .stats-container{
//   border: 1px black solid;
// }

// .resume-container{
//   border: 1px black solid;
// }



